.de-title {
  padding: 8px 15px;
  margin: 5px 0 10px;
  font-size: 15px;
  list-style: none;
  background-color: #DCDCFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.de-front{
  z-index: 9999999999;
}
.de-font-small {
  font-size: 10px;
}

.de-bottom-right {
  position:fixed !important;
  position: absolute; /*ie6 */
  bottom: 0px;
  right: 0px;
}

.de-bottom-left {
  position:fixed !important;
  position: absolute; /*ie6 */
  bottom: 0px;
  left: 0px;
}

.de-no-margin{
	margin: 0;
}

.de-hidden{
	display: none;
}

.de-title-bottom {
  padding: 8px 15px;
  margin: 5px 0 10px;
  font-size: 15px;
  list-style: none;
  background-color: #D8FFC4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.de-vertical-align{
	vertical-align: middle;
}

.de-hide{
	display:none;
}

.de-invisible{
	opacity:1.0;
}

.de-block{
	display: block;
}

.de-button-icon {
  padding: 10px;
  background-color: #E5F2FF;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.de-panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.de-panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.de-panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.de-panel-primary {
  border-color: #428bca;
}

.de-panel-primary .de-panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.de-panel-success {
  border-color: #d6e9c6;
}

.de-panel-success .de-panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.de-panel-warning {
  border-color: #fbeed5;
}

.de-panel-warning .de-panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.de-panel-danger {
  border-color: #eed3d7;
}


.de-panel-info {
  border-color: #bce8f1;
}

.de-panel-info .de-panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.de-panel-heading .de-sub-heading {
  font-size: 13px;
}

.da-panel .de-panel-content-top-border {
     padding: 16px;
    position: relative;
    background-color: #EBEBEB;
}


.de-table{
  width: 100%;
  border: 1px solid #cacaca;
}

.de-top-border{
  border-top: 1px solid #cacaca;
}

.de-peta{
  width:100%; 
  height:550px;
}

.de-peta-tanda{
  width:100%; 
  height:400px;
}


/*
 * Dandelion Admin v2.0 - Gallery Stylesheet
 *
 * This file is part of Dandelion Admin, an Admin template build for sale at ThemeForest.
 * For questions, suggestions or support request, please mail me at maimairel@yahoo.com
 *
 * Development Started:
 * March 25, 2012
 * Last Update:
 * December 07, 2012
 *
 */

.de-gallery ul, 
.de-gallery ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.de-gallery ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    margin: 15px;
    width: 150px;
   
}

.de-gallery ul li a {
    display: block;
    position: relative;
    z-index: 15;
}

.de-gallery ul li a img {
    padding: 6px;
    max-width: 136px;
    max-height: 136px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(255, 255, 255, 0);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.de-gallery .de-package ul li a:after, 
.de-gallery .de-package ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 6px solid #fafafa;
    background-color: #808080;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.de-gallery ul li a:after, 
.de-gallery ul li a:before {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 6px solid #fafafa;
    background-color: #808080;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


.de-gallery ul li a:after {
    z-index: -10;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    transform: rotate(8deg);
}

.de-gallery ul li a:before {
    z-index: -5;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}

.de-gallery ul li:nth-child(even) a:after {
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

.de-gallery ul li:nth-child(even) a:before {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.de-gallery ul li:nth-child(3n) a:after {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    transform: rotate(6deg);
}

.de-gallery ul li:nth-child(3n) a:before {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
}

.de-gallery ul li:nth-child(5n) a:after {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.de-gallery ul li:nth-child(5n) a:before {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.de-gallery ul li:nth-child(8n) a:after {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.de-gallery ul li:nth-child(8n) a:before {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.de-gallery .de-gallery-hover ul li, 
.de-gallery .de-gallery-hover ul li a, 
.de-gallery .de-gallery-hover ul li a:after, 
.de-gallery .de-gallery-hover ul li a:before {
    width: auto;
    height: auto;
    border: none;
    margin: auto;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
}

.de-gallery .de-gallery-hover {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
}

.de-gallery .de-gallery-hover ul {
    text-align: center;
    width: 100%;
    top: 50%;
    position: relative;
    margin-top: -20px;
}

.de-gallery .de-gallery-hover ul li {
    padding: 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin: 0 1px;
}

.de-gallery .de-gallery-hover ul li a {
    display: block;
    text-decoration: none;
    width: 40px; height: 40px;
    margin: 0; padding: 0;
    opacity: 0;
    color: #fff;
    position: relative;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border: 1px solid #111;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: #222;
}

.de-gallery .de-gallery-hover [class^="icon-"], 
.de-gallery .de-gallery-hover [class*=" icon-"] {
    font-size: 16px;
    line-height: 40px;
}

.de-gallery li:hover .de-gallery-hover ul li a {
    opacity: 1;
    top: auto !important;
    bottom: auto !important;
}

.de-gallery .de-gallery-hover .de-gallery-update a {
    top: -25px;
}

.de-gallery .de-gallery-hover .de-gallery-delete a {
    bottom: -25px;
}

.de-gallery .de-gallery-hover ul li a:hover {
    background-color: #111;
}

.de-right {
	text-align: right;
}

.de-button-important {
	height: 50px;
	display: table-cell;
	vertical-align: middle;
}
